.newGameForm {
  cursor: default;
}

.newGameForm form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-width: 237px;
}

.newGameForm form label {
  align-self: flex-start;
  padding: 5px;
}

.newGameForm form input {
  margin: 3px;
  padding: 5px;
}

.formBtns {
  display: flex;
  margin-top: 2rem;
  align-self: center;
  gap: 3px;
}

.formBtns button {
  padding: 7px;
  font-family: inherit;
}
