.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner p {
  font-size: 1.5rem;
  padding: 7px;
  padding-bottom: 15px;
}

.spinner img {
  animation: spin 15s linear infinite;
  will-change: transform;
}

@keyframes spin {
  from { transform: rotate(0deg) translateZ(0); }
  to { transform: rotate(360deg) translateZ(0); }
}
